/*Modifications générales*/

body {
  font-family: "Inter", sans-serif;
  margin: auto;
  background-color: #faf9f7;
}

* {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1300px;
  margin: auto;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.5rem;
  font-weight: lighter;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.green-button {
  background-color: #00ad6a;
  border-radius: 10px;
  border: none;
  padding: 25px 45px;
  color: #ffffff;
}

.green-button a {
  color: #ffffff;
  font-size: 1.3rem;
}

/*Header*/

header {
  background-color: #f5f3ef;
  padding: 10px 0;
}

nav,
.nav-list,
.nav-ul1,
.nav-ul2 {
  display: flex;
  align-items: center;
}

.nav-list {
  width: 100%;
}

.nav-logo {
  width: 170px;
}

.nav-ul2 {
  margin-left: auto;
}

.nav-ul1 li,
.nav-ul2 li {
  list-style-type: none;
  padding: 0 40px;
}

/*Page Home*/

.home1 .container,
.home2,
.home3,
.home4 {
  display: flex;
}

.home1,
.home3 {
  padding-top: 100px;
  background-color: #f5f3ef;
}

.sit-man {
  width: 450px;
  height: auto;
}

.container .part-1 {
  font-size: 1rem;
  padding: 200px 50px;
  width: 400px;
  margin: auto;
}

.home1 .part-1 p {
  justify-content: center;
  text-align: start;
  padding-bottom: 20px;
}

/*-----------------------*/

.home2 {
  flex-direction: column;
  padding: 200px 0 200px;
  background-color: #faf9f7;
}

.last-books {
  text-align: center;
}

.center-button {
  display: block;
  margin: 20px auto;
  text-align: center;
}

.quator {
  display: flex;
  flex-direction: row;
}

.info-books {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 230px;
}

.info-books .detail-books {
  display: flex;
  flex-direction: column;
}

.detail-books {
  padding: 10px 10px 20px;
  border-radius: 10px;
  min-height: 110px;
  background-color: #ffffff;
}

.title {
  font-size: 18px;
  padding: 7px 0;
}

.author {
  color: grey;
  font-size: 16px;
  padding-bottom: 13px;
}

.seller {
  color: grey;
  font-size: 14px;
}

.home-book-img {
  width: 230px;
  height: 200px;
  object-fit: cover;
}

/*
-----------------------------------------
 */
.home3 .container {
  text-align: center;
}

.trade-books {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.quatro {
  display: flex;
  flex-direction: row;
}

.solo {
  background-color: #ffffff;
  padding: 15px;
  margin: 20px;
  height: 150px;
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
}

.solo p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home3 .container .green-button {
  background-color: transparent;
  border: solid 2px #00ad6a;
  margin-bottom: 100px;
}

.home3 .container .green-button a {
  color: #00ad6a;
}

.banner {
  width: 100%;
}

/*
----------------------------------
 */
.home4 {
  background-color: #faf9f7;
}

.home4 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home4 .container p {
  text-align: start;
  margin: 0;
}

.center-div {
  width: 450px;
  margin: 0 auto;
  padding-top: 50px;
}

.keur {
  position: relative;
  left: 200px;
}
/*
-----------------BOOK LIST-------------------
 */
.book-list-header {
  width: 75%;
  margin: auto;
  padding: 30px 0 30px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bookshell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}

/*
-----------------Book Detail ---------------------
 */

.book-detail {
  display: flex;
  flex-direction: row;
}

.book-half-image {
  width: 50%;
}

.book-half-image img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

.book-half-info {
  margin: 40px 80px 0;
  width: 40%;
  max-height: calc(100vh - 80px);
}

.smol-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.user-token a {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  width: 280px;
  background-color: white;
}

.user-token a p {
  padding-left: 25px;
  width: auto;
}

.send-msg {
  width: 485px;
  margin-top: 100px;
  padding: 20px 40px;
  cursor: pointer;
}

.description {
  height: 30%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.description::-webkit-scrollbar {
  display: none;
}

.mini {
  width: 25px;
  margin-left: 0;
}

/*
-----------Footer------------
 */

.logo-footer {
  width: 30px;
}

footer {
  width: 100%;
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
}

footer ul li {
  padding: 10px 30px;
}

/*
----------Login/register----------------------
 */

.login-main {
  display: flex;
  flex-direction: row;
  background-color: #faf9f7;
}

.login-main section {
  width: 50%;
  height: max-content;
}

.login-1 {
  position: relative;
  left: 11%;
  padding-top: 80px;
}

.connexion-form form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.connexion-form form input {
  margin-bottom: 30px;
}

.connexion-form form label {
  padding: 5px;
  color: grey;
  font-size: small;
}

.text-input {
  height: 35px;
  font-size: 16px;
  border: solid 1px #f0f0f0;
  border-radius: 10px;
  padding: 5px;
}

.submit-button {
  font-size: large;
  cursor: pointer;
}

.login-2 img {
  width: 100%;
}

/*
----------------Profil-------
 */
.account {
  margin-left: 9%;
  padding-top: 50px;
}

.main-profil {
  background-color: #faf9f7;
  height: max-content;
}

.flex-it {
  display: flex;
  flex-direction: row;
  padding: 100px;
  justify-content: space-around;
}

.flex-it section {
  width: 40%;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal-image {
  width: 125px;
  height: 125px;
}

.user-stats {
  margin-top: 50px;
  text-align: center;
}

.user-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.connexion-form form .green-button {
  background-color: #f5f3ef;
  border: solid 2px #00ad6a;
  margin-bottom: 100px;
  color: #00ad6a;
  font-weight: bold;
}

.info-form form {
  width: 100%;
}

.book-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.user-books {
  padding: 130px;
}

.user-books-table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}

.user-books-table tbody tr td {
  text-align: center;
  padding: 20px 0;
  margin: 0 20px;
  border: none;
}

.user-books-table tbody tr:nth-child(odd) {
  background-color: #faf9f7;
}

.user-books-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.add-book-button {
  background-color: white;
  border: solid 2px #00ad6a;
  font-weight: bold;
  border-radius: 10px;
  width: 191px;
  margin: 0 auto 25px;
}

.add-book-button a {
  color: #00ad6a;
}

.delete-button {
  color: red;
}

.red {
  color: red;
}

.green {
  color: #00ad6a;
}

/*
---------------------Ajout livre-------------------
 */

.back-title {
  padding-top: 50px;
}

.add-book-title,
.go-back {
  margin-left: 5%;
}

.add-book-form-section {
  display: flex;
  flex-direction: row;
  margin: 5%;
  background-color: white;
  padding-top: 75px;
  border-radius: 15px;
}

.add-book-pic {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  object-fit: cover;
  margin: 0 auto;
  text-align: left;
}

.foto {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.add-book-pic img {
  width: 450px;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  margin: auto;
}

.add-book-form input,
.add-book-form textarea,
.add-book-form select {
  width: 100%;
  margin-bottom: 40px;
}

.add-book-form label {
  margin-bottom: 10px;
}

.add-book-form-div {
  width: 50%;
}

.textarea-input {
  font-size: 16px;
  border: solid 1px #f0f0f0;
  border-radius: 10px;
  padding: 5px;
  background-color: #edf2f6;
}

.gray {
  background-color: #edf2f6;
}

/*
--------------------------ShowProfile-----------------
 */

.flex-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #faf9f7;
}

.twenty-five,
.seventy-five {
  padding: 20px 0 0 0;
  margin: 20px;
  border-radius: 20px;
  background-color: white;
}

.twenty-five {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  margin: 50px 0 0 50px;
}

.twenty-five hr {
  width: 70%;
  color: #aaaaaa;
  opacity: 0.4;
  margin: 40px 0;
}

.twenty-five h2 {
  font-size: 28px;
}

.seventy-five {
  width: 75%;
  height: 600px;
  margin: 50px 50px 0 20px;
}

.button-msg {
  background-color: #f5f3ef;
  border: solid 2px #00ad6a;
  margin-bottom: 100px;
  color: #00ad6a;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.big-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 40px 0;
}

.table-profil tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-profil tbody tr:nth-child(even) {
  background-color: #edf2f6;
}

.table-profil tbody td {
  width: 25%;
  overflow: hidden;
  padding: 50px !important;
}

/*
-------------------------Messenger---------------------
 */

.main-messenger {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 160px);
  background-color: #f5f3ef;
}

.h1-messenger {
  font-size: 2rem;
  position: relative;
  right: 50px;
  padding: 50px 0 25px;
}

.display-all-conversations {
  width: 20%;
  padding: 15px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow-y: hidden;
  background-color: #faf9f7;
}

.message-preview {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #faf9f7;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.med-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.message-preview-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.preview-username {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin: 0;
}

.preview-date {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.preview-text {
  font-size: 14px;
  color: #aaa;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.conversation {
  width: 75%;
  padding: 50px;
  height: calc(100vh - 180px);
}

.title-user {
  display: flex;
  align-items: center;
}

.title-user h2 {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.image-date {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.image-date p {
  margin: 5px 0;
  padding-left: 10px;
}

.conv-box {
  padding-top: 50px;
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.very-smol-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.message-from-user {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  align-self: flex-start;
  padding: 10px;
  border-radius: 10px;
  margin-right: auto;
}

.message-from-me {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  align-self: flex-end;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 20px;
}

.message-from-user > p {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

.message-from-me > p {
  background-color: #edf2f6;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

.message-form {
  padding-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.send-msg-input {
  width: 60%;
  border: none;
  padding: 14px;
}

.msg-submit {
  margin-left: 25px;
  padding: 20px 0;
  width: 15%;
  background-color: #00ad6a;
  color: white;
  font-size: large;
  border-radius: 10px;
  border: none;
}
